## Links extra (si no pones imagen, se usa /public/logo-link.svg)
## Multilínea permitido si va ENTRE COMILLAS:
PUBLIC_EXTRA_LINKS='[
  {
    "title": "Flexway",
    "href": "https://example.com",
    "imageSrc": "/logo-link.svg"
  }
]'

