## Links extra (si no pones imagen, se usa /public/logo-link.svg)
## Multilínea permitido si va ENTRE COMILLAS:
PUBLIC_EXTRA_LINKS='[
  {
    "title": "Flexways",
    "href": "https://frsiberiagroup.flexways.net/web/booking/#/login",
    "imageSrc": "/frs-logo-png_seeklogo-394281-removebg-preview.png"
  },
  {
    "title": "RossBoard",
    "href": "https://plan-rossboard-prd-bxhqdadefhdwe2h2.denmarkeast-01.azurewebsites.net/login",
    "imageSrc": "/logo-RossBoard.png"
  },
  {
    "title": "Teleport",
    "href": "https://www.teleport.es/teleport/",
    "imageSrc": "/logo-teleport.png"
  },
  {
    "title": "My Ship Tracking",
    "href": "https://www.myshiptracking.com/",
    "imageSrc": "/logo-myshiptracking.png"
  },
  {
    "title": "Outlook",
    "href": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=9199bf20-a13f-4107-85dc-02114787ef48&scope=https%3A%2F%2Foutlook.office.com%2F.default%20openid%20profile%20offline_access&redirect_uri=https%3A%2F%2Foutlook.cloud.microsoft%2Fmail%2F&client-request-id=0c895ee9-798e-b357-392b-47e69b1044b9&response_mode=fragment&client_info=1&clidata=1&prompt=select_account&nonce=019ece0a-0802-7e17-b14a-d07d699e9eba&state=eyJpZCI6IjAxOWVjZTBhLTA4MDItNzc1ZC05YmQ2LTFlYzhiNTU2MDI2YiIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicmVkaXJlY3QifX0%3D%7CaHR0cHM6Ly9vdXRsb29rLmNsb3VkLm1pY3Jvc29mdC9tYWlsLw&claims=%7B%22access_token%22%3A%7B%22xms_cc%22%3A%7B%22values%22%3A%5B%22CP1%22%5D%7D%7D%7D&x-client-SKU=msal.js.browser&x-client-VER=5.8.0&response_type=code&code_challenge=fuaNkDMrFbwgFyMlzn6aG7GZSLkJpMy0OmYlYydHmJY&code_challenge_method=S256",
    "imageSrc": "/logo-link.svg"
  }
]'
